@use '../../../../../projects/custom-material/src/lib/styles/mixins' as mixins;

.main {
  @include mixins.flex(row, unset, unset, unset);

  & > .image-panel {
    @include mixins.size(100vh, 100%);
    flex-grow: 5;

    & > img {
      @include mixins.size(100%, 100%);
      background-image: url('/assets/auth-image-panel.jpg');
      background-size: cover;
    }
  }

  & > wsh-auth-form {
    flex-grow: 3;
  }
}
