@use "../../projects/custom-material/src/lib/styles/mixins" as mixins;
@use "./components" as components;
@use './typography' as typography;
@import './theme/theme.scss';

@mixin index() {
 @include components.components();
 @include typography.typography();

 html {
  @include mixins.size(100%, 100%);

  body {
    @include mixins.flex(column, unset, unset, unset);

    margin: 0;
    padding: 0;

    * {
      box-sizing: border-box;
      display: block;

      margin: 0;
      padding: 0;
    }
  }
 }
}
