@use "../projects/custom-material/src/lib/styles/mixins" as mixins;
@use "components" as components;

@mixin index() {
 @include components.components;


 html {
  @include mixins.size(100%, 100%);

  body {
    @include mixins.flex(column, unset, unset, unset);

    margin: 0;
    padding: 0;

    * {
      box-sizing: border-box;
      display: block;

      margin: 0;
      padding: 0;
    }
  }
 }
}
