@use '../../../../projects/custom-material/src/lib/components/button/button' as button;
@use '../../typography/desktop' as typo-desktop;

$config: (
  palette: (
    background: auto,
    color: auto
  ),

  typography: (
    level-name: body,
    config: typo-desktop.$typography
  )
);

@mixin component() {
  @include button.component($config);
}
