<div class="main">
  <div class="logo">

  </div>
  <div class="header">
    <h3 cm-h3-header>Witaj!</h3>
  </div>
  <form [formGroup]="formGroup" class="form">
    <mat-form-field cm-form-field appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field cm-form-field appearance="outline">
      <mat-label>Password:</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-button cm-button color="primary" (click)="onSignInClicked()">Zaloguj</button>
  </form>
</div>
