@use '../../../../../projects/custom-material/src/lib/styles/mixins' as mixins;

:host {
 @include mixins.size(100vh,100%);
 @include mixins.flex(column, center, center, unset);

 background-color:#e7c4ab;
}
.main {
  @include mixins.flex(column, center, center, unset);
  @include mixins.size(100%, 100%);

  padding: 32px;

  & > .logo {
    min-height: 300px;
    min-width: 300px;
    background-image: url('/assets/logo-no-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .header {
    @include mixins.size(auto, 100%);
    margin-bottom: 12px;
  }

  & > .form {
    @include mixins.flex(column, unset, unset, unset);
    width: 100%;
    flex-grow: 1;
  }
}
