@use "@angular/material" as mat;

$typography: (
  body: mat.define-typography-level(17px, 24px, 400, "Roboto Condensed", normal),
  h3-header: mat.define-typography-level(30px, 24px, 600, "Roboto Condensed", normal),
  h5-header: mat.define-typography-level(20px, 24px, 500, "Roboto Condensed", normal),
)
